@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    direction: rtl;
    background: url("background.svg");
    box-sizing: border-box;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}